<launch>
  <node pkg="octomap_server" type="octomap_uncertainty_server_node" name="octomap_server">
    <remap from="cloud_in" to="/top_camera/depth/points" />
    
    <param name="frame_id" type="string" value="odom" />
    <param name="base_frame_id" type="string" value="base_link" />
    <param name="height_map" value="false" />
    <param name="colored_map" value="false" />
    <param name="uncertainty_map" value="true" />
    <param name="resolution" value="0.01" />
    <param name="sensor_model/max_range" value="5.0" />
  </node>
</launch>
